﻿<div class="home">

<div class="text-center">
	<div class="space"></div>
	
	<h1><a href="https://minhaskamal.github.io/DownGit">DownGit</a></h1>
	<div class="crow"></div>
	<h4 class="crow">Create GitHub Directory Download Link</h4>
	
	<div class="space"></div>
	
	<div class="col-md-6 crow">
		<input name="url" type="url" placeholder="GitHub Directory Link" class="form-control" ng-model="url" ></input>
	</div>
	<div class="btn-group crow">
		<button type="button" class="btn btn-default" ng-click="createDownLink()">Create Download Link</button>
		<a type="button" class="btn btn-default" ng-href="#home?url={{url}}">Download</a>
	</div>
	
	<div class="crow"></div>
	<img ng-show="processing.val" src="res/images/processing.gif" alt="processing..." style="width:4em;height:auto;" />
	
	<div class="space"></div>
	
	<div class="col-md-6 crow" ng-show="downUrl">
		<input name="url" type="url" placeholder="GitHub Directory Download Link" class="form-control" ng-model="downUrl" ></input>
	</div>
	
	<div class="footer"><a target="_blank" href="https://github.com/MinhasKamal/DownGit">DownGit</a> by 
		<a target="_blank" href="https://minhaskamal.github.io">Minhas Kamal</a></div>
	
</div>
</div>