body{
	font-family: sans-serif, arial;
    color: #4A4F64;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
	color: #004d99;
}a:hover{
	text-decoration: underline;
	color: #004d99;
}

/**********************************/
.home .crow{
	float: none;
	margin: auto;
	padding-bottom: 1em;
}

.home .space{
	float: none;
	margin: auto;
	padding-bottom: 3em;
}

.home h1 a{
	color: #4A4F64;
}.home h1  a:hover{
	text-decoration: none;
}

.home .footer{
	position: fixed;
    bottom: 0;
    width: 100%;
}

/**********************************/
.toast-down{
	background-image: url("../res/images/warning.png") !important;
	background-color: #8c8c8c;
}



