body{
	font-family: sans-serif, arial;
    color: #4A4F64;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
	color: #004d99;
}a:hover{
	text-decoration: underline;
	color: #004d99;
}

/**********************************/
.home .crow{
	float: none;
	margin: auto;
	padding-bottom: 1em;
}

.home h1{
	padding-top: 1.5em;
}